body {
	background-color: black;
	font-family: 'Roboto', 'Futura', sans-serif;
}

#container {
	position:relative;
	margin: auto;
	width: 1024px;
	height: 120px;
	overflow: hidden;
}

#header {
	color: #d8d8d8;
	font-size: 30px;
	font-style: 'Roboto';
	font-weight: 300;
	margin-bottom: 0px;
}

#statistics{
	height: 40px;
}

#child {
	position: absolute;
	left: 0px;
	top: 60px;
}

#year {
	position: absolute;
	right: 32px;
	top: 60px;
}


#lostChildNumber {
	color: #FF4112;
	font-size: 32px;
	font-style: 'Roboto';
	font-weight: 400;
	float: left;
}

#lostChild {
	color: #FF4112;
	font-size: 16px;
	font-style: 'Roboto';
	font-weight: bold;
	float: left;
}

#lostYearNumber {
	color: #d8d8d8;
	font-size: 32px;
	font-style: 'Roboto';
	font-weight: 400;
	float: right;
}

#lostYear {
	color: #d8d8d8;
	font-size: 16px;
	font-style: 'Roboto';
	font-weight: bold;
	float: right;
}

/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 200px;                  
	height: 50px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}

#filter {
	align-self: center;
} 

div.tooltip {
	font-style: 'Roboto';
	width: 360px;
	height: 24px;
	font-size: 20px;
	text-align: center;
	margin: auto;
}

